body {
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container {
  width: min(100% - 2rem, 700px);
  margin-inline: auto;
  padding: 1rem;
}

h1 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: 'Roboto Mono', monospace;
  font-size: 2em;
}

h2 {
  color: #fff;
}

a {
  color: black;
  text-decoration: none;
}

p {
  text-align: center;
  line-height: 2;
}

hr.solid {
  border-top: 3px solid #bbb;
  width: 80%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; 
  font-size: 1.5em;
}


nav ul li {
  display: inline-block;
}


nav ul li.divider {
  border-right: 1px solid #000;
  height: 60px;
  margin: 0 30px;
  display: inline-block;
  vertical-align: middle;
}


nav ul li:hover {
  background-color: #FCA311;
  padding: 25px;
  border-radius: 5px 5px 5px 5px;

}

.containerimg {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-top: 30px;
}

.image-container {
  position: relative;
}

.fa-heart {
  position: absolute;
  top: 3%;
  left: 85%;
  font-size: 4vw;
  color:rgba(78, 78, 78, 0.792);
}

.fa-heart.clicked {
  color: #FCA311;
}

img {
  max-width: 100%;
}

.box {
  position: absolute;
  top: 90%;
  left: 5%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.rectangle {
  display: inline-block;
  padding: 10px;
  background-color: #FCA311;
  color: #fff;
  width: auto;
}

footer {
  background-color: #14213D;
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}

/* Favourites */

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery-item {
  overflow: hidden;
  border-radius: 5px;
  margin-top: 30px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.gallery-item:hover img {
  transform: scale(1.1);
}


/* Calendar */


@media screen and (min-width: 600px) {
  nav ul li {
    display: inline-block;
    margin-bottom: 0;
  }

  nav ul li.divider {
    border-right: 1px solid #000;
    height: 60px;
    margin: 0 30px;
    display: inline-block;
    vertical-align: middle;
  }

  .rectangle {
    width: 200%;
  }

}